# Конфиденциальные данные
.env
credentials.json
token.pickle

# Кэш и временные файлы
__pycache__/
*.pyc
.DS_Store

# Виртуальное окружение
venv/

# Данные
logs/
data/
vector_store/

# Python
*.py[cod]
*$py.class

# Логи
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# Системные файлы
Thumbs.db changes.patch
