[Unit]
Description=Google Business Bot
After=network.target
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Type=simple
User=root
WorkingDirectory=/root/GoogleBusinessBot
ExecStart=/bin/bash -c 'source /root/GoogleBusinessBot/new_venv/bin/activate && pip install -r /root/GoogleBusinessBot/requirements.txt && source /root/GoogleBusinessBot/.env && python /root/GoogleBusinessBot/bot.py'
Restart=always
RestartSec=30
TimeoutStartSec=180
StandardOutput=append:/root/GoogleBusinessBot/logs/bot.log
StandardError=append:/root/GoogleBusinessBot/logs/bot_error.log

# Создаем необходимые директории
ExecStartPre=/bin/mkdir -p /root/GoogleBusinessBot/logs
ExecStartPre=/bin/mkdir -p /root/GoogleBusinessBot/logs/context_logs

[Install]
WantedBy=multi-user.target 