[Unit]
Description=Telegram Bot Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/TestBot
Environment=PATH=/root/TestBot/venv/bin:$PATH
ExecStart=/root/TestBot/venv/bin/python3 -u bot.py

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target